@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Better box-model */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
a {
  color: #3c2313;
  font-family: "Roboto", sans-serif;
}

.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
  background-color: #222222;
  color: #f3f3f3;
  font-size: 10px;
  font-weight: 400;
}

.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #f0a83e;
  color: #f3f3f3;
}

.sales-text {
  margin-left: 50px;
}

.options ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-right: 40px;
}

.options ul li {
  margin-right: 10px;
}

.options ul li a {
  color: #f3f3f3;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-weight: 700;
  margin-left: 30px;
}

.logo a {
  text-decoration: none;
  margin: 3px;
}

.logo a img {
  width: 25px;
  height: auto;
}

.logo-text-brown {
  color: #3c2313;
}

.logo-text-white {
  color: #ffffff;
}

.navbar ul {
  display: flex;
  align-items: center;
  align-content: space-between;
  list-style: none;
  margin-right: 20px;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
}

.banner-header {
  display: flex;
  justify-content: end;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 410px;
  background-image: url("../img/bg-header.jpg");
  background-size: cover;
  background-position: center;
}

.info-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin-right: 40px;
}

.title-banner {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 12px;
}

.description-banner {
  margin-bottom: 12px;
}

.button-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 150px;
  height: 50px;
  background-color: #f0a83e;
  border-radius: 5px;
  cursor: pointer;
}

.button-header:hover {
  background-color: #f0960d;
}

.button-header a {
  color: #ffffff;
  text-decoration: none;
}

.header-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

.pets {
  font-size: 80px;
}

.text-orange {
  color: #f0a83e;
}

.main {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-main {
  font-size: 40px;
  font-weight: 700;
  margin: 10px;
}

ul.categories {
  display: flex;
  justify-content: center;
  align-content: space-around;
  list-style: none;
  width: 350px;
  margin: 10px;
}

ul.categories li {
  margin: 5px;
  font-size: 15px;
}

ul.categories li + li::before {
  margin-right: 10px;
  content: "-";
}

ul.categories a {
  color: #666666;
  text-decoration: none;
}

.products {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 85px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #fbfaf6;
  font-size: 15px;
  font-weight: 700;
}

.card-img {
  text-align: center;
}

.card-title a {
  text-decoration: none;
}

.card-price {
  margin-bottom: 10px;
}

.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}

.title-form-contact {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

form.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-contact input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 340px;
  height: 40px;
  border-radius: 15px;
  border: 0px;
  background-color: #3c2313;
  color: #ffffff;
}

.form-contact input::placeholder {
  color: #f3f3f3;
}

.footer-contact-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.form-contact button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: 0;
  height: 40px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  width: 110px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.bt-reset {
  background-color: #8a8787;
  border-radius: 15px;
}

.bt-reset:hover {
  background-color: #a6a6a6;
}

.bt-send {
  background-color: #f0a83e;
  border-radius: 15px;
}

.bt-send:hover {
  background-color: #d8932a;
}

.suscribe-bar {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #f0a83e;
  padding: 0px 47px;
}

.text-suscribe {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #ffffff;
}

.form-suscribe {
  display: flex;
  align-content: space-around;
}

.form-suscribe input {
  width: 271px;
  height: 40px;
  border-radius: 15px;
  border: 0px;
  padding: 10px;
  margin-right: 10px;
}

.form-suscribe button {
  width: 80px;
  height: 40px;
  border: 0px;
  border-radius: 15px;
  background-color: #3c2313;
  color: #ffffff;
  cursor: pointer;
}
.form-suscribe button:hover {
  background-color: #4e3422;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 300px;
  background-color: #3c2313;
  color: #ffffff;
}

.column-one {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.column-two {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0px 70px;
}

.info-footer {
  display: flex;
  align-items: flex-start;
  margin-left: 70px;
}

.icono-footer {
  margin-right: 25px;
}

.info-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.info-text {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #8a8787;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 100%;
  background-color: #222222;
  height: 23px;
  width: 100%;
}

.credits p {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
}
