@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, a {
    color: #3C2313;
    font-family: 'Roboto', sans-serif;
}

.text-orange {
    color: #F0A83E;
}


.first {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #222;
    height: 20px;
    color: #F3F3F3;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    padding-left: 90px;
    padding-right: 90px;
}

.first a {
    text-decoration: none;
    color: #F3F3F3;
}

.contenido {
    width: 100%;
}

.sales-text{
    display: inline-block;
    margin-right: auto;
}

.options {
    float: right;
}

.options ul li {
    margin-right: 10px;
    display: inline;
}

.second {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #F0A83E;
    height: 62px;
    padding-left: 90px;
    padding-right: 90px;
}

.logo {
    display: inline-block;
}

.navbar {
    display: inline-block;
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    float: right;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar ul li {
    display: inline;
    margin-right: 10px;
}

.banner-header {
    background-image: url('../img/bg-header.jpg');
    background-size: cover;
    width: 100%;
    height: 409px;
    display: flex;
    align-items: center;
}

.info-banner{
    width: 100%;
    text-align: right;
    padding: 0px 12px 0px 12px;
}

.title-banner{
    border-radius: 5px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-left: auto;
    margin-right: 0;
    width: 365px;
    height: 54px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3C2313;
}

.description-banner {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
    width: 365px;
    height: 19px;
    margin-top: 12px;
    color: #3C2313;
}

.button-header {
    width: 365px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
}

.button-accion-header{
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: #F0A83E;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
}

.button-accion-header:hover {
    background-color: #d8932a;
}

.main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-main {
    text-align: center;
}

h1.title-main {
    font-weight: 700;
}

.pets {
    font-size: 80px;
}

.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
}

.card {
    max-width: 264px;
    margin-right: 20px;
    background-color: #FBFAF6;
}

.card a {
    text-decoration: none;
}

ul.categories li {
    display: inline;
    margin: 5px;
}

ul.categories a {
    color: #666666;
    text-decoration: none;
}

ul.categories a:hover {
    color: #000000;
}

ul.categories li + li::before {
    margin-right: 10px;
    content: " - ";
}