* {
    margin: 0;
    padding: 0;
} 

.first {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #222;
    height: 20px;
    color: #F3F3F3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    padding-left: 90px;
    padding-right: 90px;
}

.first a {
    text-decoration: none;
    color: #F3F3F3;
}

.contenido {
    width: 100%;
}

.sales-text{
    display: inline-block;
    margin-right: auto;
}

.options {
    display: inline-block;
    position: relative;
    float: right;
}

.options ul li {
    margin-right: 10px;
    display: inline;
}

.second {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #F0A83E;
    height: 62px;
    padding-left: 90px;
    padding-right: 90px;
}

.logo {
    display: inline-block;
}

.navbar {
    display: inline-block;
    color: #FFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    float: right;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar ul li {
    display: inline;
    margin-right: 10px;
}

.banner-header {
    background-image: url('../img/bg-header.jpg');
    background-size: cover;
    width: 100%;
    height: 409px;
    display: flex;
    align-items: center;
}

.info-banner{
    width: 100%;
    text-align: right;
    padding: 0px 12px 0px 12px;
}

.title-banner{
    border-radius: 5px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-left: auto;
    margin-right: 0;
    width: 365px;
    height: 54px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-banner {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
    width: 365px;
    height: 19px;
    margin-top: 12px;
}

.button-header {
    width: 365px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
}

.button-accion-header{
    border-radius: 5px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: #F0A83E;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
}

.button-accion-header:hover {
    background-color: #d8932a;
    font-weight: 700;
}
